*{
    margin: 0 px;
    padding: 0 px;
    box-sizing: border-box;
}

.header-icon svg{
     font-size: 50px;
     display: flex;
     justify-content: space-between;
     margin: 30px;
     padding: 10px;
    }
.navbar{
    background-color: bisque;
}
.header-icon-2 svg{
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 25px;
    padding: 10px;

}
