*{
    margin: 0px;
    padding: 0 px;
    box-sizing: border-box;
    background-color: aliceblue;

}
body{
    background-color:black;
}
#101{
    background-color: aquamarine;
    margin-top: 50 px;
    margin-right: 20 px;
}
button{
    justify-content: flex;
    align-items: center;
}
h1{

    background-color: blue;
    color: #fff !important;
    font-weight: 200;
    text-align: center;
}
#106{
    display: flex;
    justify-content: center;
    flex-direction: column;
}